.home-header{
    text-align: center;
     margin-top: 20px;
}
.home-header h2{
    color:#D8D2C2;
    font-size: 2rem;
}
.home-header h1{
    font-size:  3rem;
    color:#433878 ;
    margin-bottom: 1 rem;
} 
.home-header h1 span {
   color: #b0c4de;
}
.home-header  p {
    color:#D8D2C2;
    font-weight: 500;
}